@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    <style>


          section{
             width:100%;
             border: 1px solid black;
             border-radius: 5px
         }

         h5{margin:6px; font-weight:600;}
         h6{margin:6px; color: gray}
         p{margin:6px;}
         .a1{margin:6px;
             padding: 3px;
             background-color: blue;
             color: white ;
             border-radius: 2px}



        span{
            font-size :36px;
        }

    </style>
}

    <div style="height: 35px ; border: none"></div>
    <div style="border: none ; text-align: center;">
        <span>桃園觀光景點</span>
</div>
<div>
      </div>
<div style="margin:2% 22% 2% 22% ;text-align: center">
    <input type="text" id="txtsearch" placeholder="請輸入關鍵字" style="width:20% ;height:40px ; margin:auto"> &nbsp;
    <input type="button" id="btns" class="btn btn-primary" value="查詢">&nbsp;
    <input type="button" id="btnall" class="btn btn-success" value="回到清單">


  </div>


</div>
<br>
<div id="sec"  style="border: none  ; width:90%; justify-content:center; align-content:center; margin:auto">
</div>


@section Scripts{
    <script src=" /js/travel.js"></script>
    <script>
        const theSec= document.querySelector('#sec');
        const txt = document.querySelector('#txtsearch');
        const btn= document.querySelector('#btns');
        const btnall = document.querySelector('#btnall');


        btnall.addEventListener('click', () => {
        showDatas(DATAS);
        })


        btn.addEventListener('click', () => {
            const results = DATAS.filter(data => data.Name.indexOf(txt.value) !== -1);
            showDatas(results);
        })

        showDatas(DATAS);
        function showDatas(DATAS) {
        let datas = DATAS.map((tourist, Index, Array) => {
            const { InfoId, TYWebsite, Website, Name, Toldescribe, Add,
                        Zipcode, Opentime, Px, Py,  Parkinginfo,
                        Ticketinfo, Remarks, Tel, Fax, Changetime }= tourist;

            return `  <div class="card">
                          <h5 class="card-header">${Name}</h5>
                          <div class="card-body">
                          <h5 class="card-title">${Toldescribe}</h5>
                                            <p class="card-text">地址 : ${Add}</p>
                                            <p class="card-text">營業時間 : ${Opentime}</p>
                                             <p class="card-text">電話 : ${Tel}</p>
                                             <p class="card-text">傳真 : ${ Fax}</p>
                                             <p class="card-text">停車資訊 : ${Parkinginfo}</p>
                                    <a href="${Website}" class="btn btn-primary">官方網站</a>
                                    <a href="${TYWebsite}" class="btn btn-primary">桃園指引</a>

                          </div>
                          </div><br>  `            
        ;
        })

        theSec.innerHTML = datas.join("");
        }
    </script>

@*想做關鍵字爬文但沒成功=>已解決，感謝老師講解!
*@
}


