@model IEnumerable<AjaxHomWork_MSIT145_23林幸嫻.Models.Member>
@{
    ViewData["Title"] = "作業2";
}
@section Styles{
    <style>
        h2{
        text-align: center;
        margin:24px;
        }

        form{
            text-align: center;
        }

        .divbtn{
            display: flex;
            justify-content: center;
            align-items: center;         }

    </style>
}
<h2>會員註冊</h2>
<form>
        <label>註 冊 名 稱&nbsp;  : </label>
        <input type="text" name="txtname" placeholder="請輸入名稱">
        <label id="lblname"></label>

        <br><br>
        <label>註冊E-mail : </label>
        <input type="text" name="txtkemail" placeholder="請輸入E-mail">
        <label id="lblemail"></label>


</form>
<hr>
<div class=divbtn>
        <button >Demo-無重複</button> &nbsp;
        <button>Demo-重複1</button>&nbsp;
        <button>Demo-重複2</button>

</div>

@section Scripts{
    <script>
        

    </script>
}


