@model IEnumerable<AjaxHomWork_MSIT145_23林幸嫻.Models.Member>
@{
    ViewData["Title"] = "作業2";
}

    <h2>會員註冊</h2>
    <hr >


    <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">請輸入名稱 : </label>
        <input type="text" class="form-control" id="text1" placeholder="請輸入名稱">
    </div>
    <button type="submit" id="button1" class="btn btn-primary" style="margin:12px">驗證</button>

<div id="div1">
</div>



@section Scripts{
    <script>
        const btn = document.querySelector('#button1');
        const theDiv = document.querySelector('#div1');
        const txt = document.querySelector('#text1');
        const xhr = new XMLHttpRequest();

         xhr.addEventListener('load', () => {
            theDiv.innerHTML = "";
            const data = xhr.responseText;
            theDiv.innerHTML += `<h5>${data}</h5>`
        })



        btn.addEventListener('click', () => {

            xhr.open("GET", `/api/index?name=${txt.value}`);
            xhr.send();
        })


    </script>
}


