@model IEnumerable<AjaxHomWork_MSIT145_23林幸嫻.Models.Member>
@{
    ViewData["Title"] = "作業2";
}
@section Styles{
    <style>
        h2{
            margin:24px;
        }
        div{
        display: flex;
        justify-content: center;
        align-items: center;
        }
    </style>
}

    <h2>會員註冊</h2>
    <hr >

<div>
        <br><br>
        <label>請輸入名稱: &nbsp;</label><input type="text" id="text1" />&nbsp;
        <button class="btn btn-primary" id="button1">確認</button><br>
</div>
<div>
        <label id="div1" ></label>
</div>



@*    @foreach (var name in Model)
    {
    <span id="span">@name.Name </span>
    }
*@

@section Scripts{
    <script>
        const btn = document.querySelector('#button1');
        const theDiv = document.querySelector('#div1');
        const txt = document.querySelector('#text1');
        const xhr = new XMLHttpRequest();


        xhr.addEventListener('load', () => {
            const data = xhr.responseText;
            theDiv.innerHTML += `<h2>${data}</h2>`
        })


        btn.addEventListener('click', () => {
            xhr.open("GET", `/api/index?name=${txt.value}`);
            xhr.send();
        })


    </script>
}


