<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AjaxHomeWork_MSIT145_23林幸嫻</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" colorppend-version="true" />
    <link rel="stylesheet" href="~/AjaxHomWork_MSIT145_23林幸嫻.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <nav class="nav" >
         <div style="display:flex ; height:70px ; width:100% ; background-color:gainsboro ">
            <a  style="margin:12px ; font-size:24px ; font-weight:600 ; color:darkslategrey" >AjaxHomeWork_MSIT145_23林幸嫻</a>
                <a class="nav" asp-area="" asp-controller="Home" asp-action="Index" style="margin:12px ; font-size:24px">Home</a>
                <a class="nav" asp-area="" asp-controller="Home" asp-action="作業1" style="margin:12px; font-size:24px">作業1</a>
                <a class="nav" asp-area="" asp-controller="Home" asp-action="作業2" style="margin:12px; font-size:24px">作業2</a>
                <a class="nav" asp-area="" asp-controller="Home" asp-action="作業3" style="margin:12px; font-size:24px">作業3</a>


@*                <a class="nav" asp-area="" asp-controller="Home" asp-action="測試Demo" style="margin:12px; font-size:24px">測試Demo</a>
*@
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; 2023 - AjaxHomeWork_MSIT145_23林幸嫻
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
